.card {
    background: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    flex: 1;
    cursor: pointer;
}

.notesPageCard {
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
}

.cardBody h6 {
    display: inline-block;
    margin-right: 1rem;
}

.active {
    border: 1px solid black;
}

.tags {
    display: flex;
    gap: 8px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.tag {
    background: var(--light-card-color);
    padding: 1px 8px;
    border-radius: 10px;
    font-size: 0.8rem;
    width: fit-content;
}

.utils {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.utils>* {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}