.filterModalContainer {
    position: absolute;
    background: rgba(0, 0, 0, 0.18);
    inset: 0;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #fff;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    margin: 1rem;
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modalHeader span {
    cursor: pointer;
}

.modalHeader span:hover {
    color: var(--danger-color)
}

.modal p {
    color: var(--primary-color-dark);
    font-weight: 600;
    margin-top: 1rem;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
}

.filterOption {
    text-transform: capitalize;
    cursor: pointer;
}

.filterOption input {
    cursor: pointer;
    margin-right: 5px;
}